GEMINI_API_KEY=your_key_here
AUTH_ENABLED=false
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
AUTH_COOKIE_NAME=wos_session
AUTH_COOKIE_SECURE=auto
AUTH_COOKIE_SAMESITE=lax
AUTH_COOKIE_MAX_AGE=1209600
